.category.article-cnt {
  display: flex;
  flex-direction: column;
}

.category-loading {
  background-color: #3b3b3b;
  min-height: 30rem;
  border-radius: 22px;
}

.missing-loading {
  min-height: 10rem;
  min-width: 100%;
}

.loading-cnt {
  display: none;
}

.category-page-cnt {
  display: grid;
  grid-template-columns: 75% 25%;
  padding: 3rem;
  padding-top: 0px !important;
}
.category.content {
  display: grid;
  grid-template-columns: 70% 28%;
  gap: 1rem;
}

.category.snippet {
  font-size: 1.1em;
  color: #3b3b3b;
}

.category-article-title {
  margin-top: 0px;
}

.category-missed-articles {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  text-align: left;
  align-items: first baseline;
  position: sticky;
  top: 0;
}

.category-missed-tile {
  border: none;
  border-bottom: 1px solid #3b3b3b;
  font-size: 0.7em;
  font-family: "Abril Fatface", serif;
}

.category-missed-tile:hover {
  text-decoration: underline 2px solid #ca212a;
}

.missed-loading {
  height: 20rem;
  width: 100%;
  background: linear-gradient(90deg, #f3f2f2 25%, #939292 50%, #f0f0f0 75%);
  background-size: 400% 100%;
  animation: gradientLoading 2s infinite alternate;
}

.category-header {
  text-align: center;
  font-size: 3em;
  margin-top: 0.9rem;
  text-transform: capitalize;
  font-family: "Abril Fatface", serif;
}
@media screen and (max-width: 768px) {
  .category-page-cnt,
  .category.content {
    display: flex;
    flex-direction: column;
  }
  .category-page-cnt {
    padding: 1rem;
  }
  .category.content {
    gap: 0.8rem;
  }
  .article-page.image-cnt {
    height: 20rem;
  }

  .category-missed-articles {
    padding: 0rem;
  }
}

@media screen and (max-width: 1015px) {
  .category.content {
    grid-template-columns: 50% 50%;
  }
}
