.cat-section {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

#cat-card-0 {
  color: #1f1f1f;
  align-self: center;
  margin-bottom: 4rem;
  margin-top: 1rem;
  margin-left: 0px;
 

}


#cat-card-0 .cat-card-content {
  position: relative;
  justify-content: center;
  display: flex;
  height: 22rem;
  width: 70rem;

  
}


#cat-card-0 .cat-card-image-ct{
  max-height: 22rem;
  min-width: 70rem;
}

#cat-card-0 .cat-card-image-ct img{
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: none;
}

#cat-card-0 .cat-card-image-ct::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.55
  ); /* Adjust the opacity here (0.5 for 50% opacity) */
  z-index: 1; /* Ensure the overlay is above the text */
  pointer-events: none; /* Allow interaction with the text */
  border-radius: 12px;
}


#cat-card-0 .cat-card-text {
  position: absolute;

  background-color: #fffffff2;

  max-width: 70%;
  border-radius:14px ;
  max-height: 148px;
  text-overflow: ellipsis;
  overflow: hidden;
 
  text-align: center;

  padding: 20px;
  top: 40%;
  z-index: 2;
}

#cat-card-0 .cat-card-title {
  font-size: 2.4rem;
  font-family: 'Excon';
  margin: 0px;
  line-height: 1em;
  
 
}

#cat-card-0 .cat-card-snip{
  font-size: 1rem;
  font-family: 'EXcon';
 
  margin-top: 18px;
  text-overflow: ellipsis;
  overflow: hidden;

  min-height: 80%;
}

#cat-card-0 .cat-card-info{
  color: rgba(112, 119, 128, 0.757);
  font-family: 'Author';
  font-weight: bold;
  margin-bottom: 16px;
  justify-items:flex-end; 
}

.cat-card-text{
  color: #1f1f1f;
  max-width: 50%;
  font-family: 'Author';
}
.cat-card-title{
  margin: 2px 0px 5px 0px;
  font-size: 1.6rem;
  padding: 0px;
  font-family: 'Excon', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  transition: all 0.6s;
}
.cat-card-title:hover{
 
  
  text-decoration: underline #4A825A;
}
.cat-card-snip{
margin: 0px;
}

.cat-card-info{
  margin: 0px;
  color: rgba(112, 119, 128, 0.757);
  font-size: 0.8rem;
}

.cat-card-content{
  display: flex;
  gap :2rem;
}

.cat-card-image-ct{
  max-width: 10rem;
}
.cat-card-image-ct img{
  max-width: 100%;
  border: 1px solid #1f1f1f;
  box-shadow: 2px 2px #1f1f1fd7;
}


.cat-card{
  margin-left: 3rem;
  margin-bottom: 1rem;
}

.load-more {
  display: flex;

justify-content: center;
margin-top: 1rem;
margin-bottom: 1rem;
}

.load-more-btn {
  font-family: "Excon";
  font-weight: bold;
  font-size: 1.3rem;
  height: auto;
  width: 8rem;
  background-color: white;
  color: #1f1f1f;
  cursor: pointer;


  border: 1px solid #1f1f1f;
  box-shadow: 2px 2px 0 #1f1f1f; /* Initial box shadow */
  border-radius: 12px;
  transition: background-color 3s;
  transition: box-shadow 0.1s; /* Add a smooth transition for the box shadow */
}

.load-more-btn:hover{
  font-size: 1.32rem;

}

.load-more-btn:active {
  box-shadow: none;
  transform: translateY(5px);
  transform: translateX(5px);

  border: none;
}

@media screen and (max-width: 726px) {
  #cat-card-0{
    margin-bottom: 13rem;
  }
  #cat-card-0 .cat-card-content{
    max-width:25rem;
    flex-direction: row;
   
  }
  #cat-card-0 .cat-card-image-ct {
    
    max-width:100%; min-width: 0px;
}
#cat-card-0 .cat-card-image-ct img{
  min-height: 100%;
 
}
#cat-card-0 .cat-card-text{
  max-height: 100%;
  min-width: 84%;
 margin-left: 1.5%;
 margin-right: 0px;
}
#cat-card-0 .cat-card-title{

text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 2rem;
  }
  .cat-card-content{
    flex-direction: column;
    min-width: 100%;
   
  }
  .cat-card-image-ct {
    min-width: 96%;
    max-height: 20rem;
    
  }
  .cat-card-image-ct img{
    box-shadow: none;
    max-height: 18rem;
    min-width: 100%;
    object-fit: cover;
    border: none;
  }
  .cat-card-text{
    max-width: 100%;
    text-align: left;
    margin-right: 1rem;
    
  }
  .cat-card{
    margin-left: 1rem;
  
  }
  .cat-card-snip{
    font-size: 1.2rem;
  }
  .cat-card-title{
    margin: 6px 0px 12px 0px;
    font-size: 1.9rem;
  }
  .cat-card-info{
    font-size: 1rem;
  }
}