.footer-section {
  background-color: #1f1f1f;
  margin: 0px;
  margin-top: 4rem;
  padding: 0px;

  
  color: #f1f1f1;
  border-top-right-radius: 22px;
  border-top-left-radius: 22px;
  font-family: "Excon";
 
  align-items: center;
  display: flex;

  flex-direction: column;
}
.search-btn{
  color: #f1f1f1;
}
.logo-footer h1{
  font-size: 4rem;
  font-style: italic;
  width: -moz-fit-content;
  font-family: 'Excon';
  width: fit-content;
 margin-bottom: 20px;
  text-shadow: #4A825A 1px 1px;

  padding: 0px;
}

.about-us {
  text-align: center;
}

.contact-us {
  color: #4A825A;
  text-decoration: none;
}

.icons {
  font-size: 2rem;
  text-align: center;
  color: #f1f1f1;
  text-decoration: none;
  background-color: #1f1f1f;
  display: flex;
  gap: 1.6rem;
}
.icon-link {
  text-decoration: none;
  color: #f1f1f1;
  transition: all 0.2s;
}
.icon-link:hover {
  color: #4A825A;
  
}
