header {
  font-family: "Abril Fatface", serif;
  text-align: center;

  position: sticky;
  top: 0;
  margin: 0px;
  padding: 0.5rem 0.5rem;
  padding-bottom: 0px;
  transition: all 0.5s;
  z-index: 100;
}

header.sticky {
  background-color: white;
  color: #333;
}
.search-box-img {
  position: absolute;
  margin-top: 0.5rem;
  z-index: 45;
  top: 1rem;
  right: 1rem;
}

.search-box header {
  overflow-x: visible;
}

.search-box {
  background-color: white;

  top: 0;
  right: 0;

  min-height: 100vh;
  min-width: 50vw;
  font-family: "Abril Fatface", serif;
  position: absolute;
  transition: all 0.8s;
  border-left: 4px solid#1a1a1a;
}

.closed {
  right: -100%;
}

.search-box input:active {
  outline: none;
  border-bottom: 4px solid #1a1a1a;
}
.search-box input:hover {
  border-bottom: 4px solid #1a1a1a;
}
.search-box input {
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 0px;
  border-bottom: 2px solid #1a1a1a;
  margin-top: 1rem;
}
.search-box-img button {
  padding: 0;
  margin: 0;
  background-color: transparent;
}
.search-box-img img {
  height: 20px;
  width: 20px;
}
.slogan {
  text-align: center;
  padding: 0.3rem;
  font-style: italic;
  font-size: 0.8em;
  font-weight: 450;
}
header h2 {
  margin: 0;
  margin-top: 0.5rem;
  font-weight: bold;
  font-style: italic;
}

hr {
  margin-bottom: 1px;
}

header hr {
  margin-bottom: 0px;
}

nav {
  font-family: "Work Sans";
}

.nav-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  background-color: #1a1a1a;
  color: white;
  padding: 0.5rem 1rem;
}

.nav-links a:hover {
  color: #ca212a;
}

@media screen and (max-width: 768px) {
  .nav-links {
    overflow-x: scroll;
    justify-content: flex-start;
  }
  .search-box {
    min-width: 90vw;
  }

  .search-box .category-missed-articles {
    padding: 2rem;
  }

  .search-box h2 {
    font-size: 2em;
  }
}
