.navigation-container {
  /* CSS for the navigation */
  max-width: 90%;
  max-height: 500px;
  padding: 30px;
  top: 20px;
  border-radius: 2px;
  border: 1px solid #adb7bfa1;
  justify-items: center;
  box-shadow: 10px 10px #adb7bfa1;

  border-style: solid;
  text-align: center;
  position: sticky;
  font-family: "Excon";
  margin-top: 50px;
}

.top_stories_title {
  background-color: #adb7bfa1;
  color: white;
  transition: background-color 1s;
}

.top_stories_title:hover {
  background-color: black;
}

.category-name {
  transition: color 0.5s;
}
.category-name:hover {
  cursor: pointer;
  color: #adb7bfa1;
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .navigation-container {
    justify-content: center;
    min-width: 280%;
  }
}

@media screen and (max-width: 767px) {
  .navigation-container {
    min-width: 74%;
  }
}
