.category.article-cnt {
  display: flex;
  flex-direction: column;
}

.category-page-cnt {
  display: grid;
  grid-template-columns: 75% 25%;
  padding: 3rem;
  padding-top: 0px !important;
}
.category.content {
  display: grid;
  grid-template-columns: 70% 30%;
}

.category.snippet {
  font-size: 1.2em;
  color: #3b3b3b;
}

.category-article-title {
  margin-top: 0px;
}

.category-missed-articles {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  text-align: left;
  align-items: first baseline;
  position: sticky;
  top: 0;
}

.category-missed-tile {
  border: none;
  border-bottom: 1px solid #3b3b3b;
  font-size: 0.7em;
  font-family: "Abril Fatface", serif;
}

.category-missed-tile:hover {
  text-decoration: underline 2px solid #ca212a;
}

.category-header {
  text-align: center;
  font-size: 3em;
  margin-top: 0.9rem;
  text-transform: capitalize;
  font-family: "Abril Fatface", serif;
}
@media screen and (max-width: 768px) {
  .category-page-cnt,
  .category.content {
    display: flex;
    flex-direction: column;
  }
  .category-page-cnt {
    padding: 1rem;
  }

  .article-page.image-cnt {
    height: 20rem;
  }

  .category.missed-articles {
    padding: 0rem;
  }
}
