.typing-div {
  display: flex;
  flex-direction: column;
  height: 90svh;
  padding: 1rem;
  gap: 10px;
}
.skel {
  width: 100%;
  border-radius: 12px;
  background: linear-gradient(90deg, #f3f2f2 25%, #969696 50%, #f0f0f0 75%);
  background-size: 400% 100%;
  animation: gradientLoading 3s infinite alternate;
}

.skel-img {
  height: 30%;
  background-color: #868e97;
}

.skel-text-area {
  height: 68%;
  display: flex;
  flex-direction: column;
  background: none;
  gap: 10px;
}
.skel-title {
  background-color: #868e97;
  height: 10%;
}
.skel-text {
  height: 90%;
  background-color: #868e97;
}

.article-page-title {
  font-family: "Abril Fatface", serif;
  margin-bottom: 0px;
}

.article-header {
  padding: 1rem;
}

.article-page.image-cnt {
  height: 30rem;
  margin-bottom: 2rem;
}

.article-main {
  display: grid;
  grid-template-columns: 75% 25%;
}

.article-page.image-cnt img {
  max-height: 100%;
  object-fit: cover;
}

.article-body {
  padding: 1rem;
}

.article-text {
  font-size: 1.4em;
  color: #2a2a2a;
  line-height: 2;
}

.article-text::first-letter {
  font-size: 3rem;
  font-style: italic;
  text-shadow: 2px 2px #1f1f1f;
  -webkit-initial-letter: 3;
  initial-letter: 3;
  color: #ca212a;
  padding: 6px;
}
.more-articles {
  position: relative;
}

.more-articles-header {
  padding-left: 1rem;
}
.snippets {
  position: sticky;
  top: 0;
  padding: 1rem;
  padding-top: 0rem;
  font-family: "Abril Fatface", serif;
}
.more-articles .snippet {
  border: none;

  font-size: 0.8em;
  min-width: 100%;
}
.more-articles .snippet:hover {
  text-decoration: underline 4px solid #ca212a;
}
@media screen and (max-width: 768px) {
  .article-main {
    display: flex;
    flex-direction: column;
  }

  .article-page.image-cnt {
    height: 20rem;
  }
}
