header {
  font-family: "Abril Fatface", serif;

  text-align: center;
}

header h2 {
  margin: 0;
  font-weight: bold;
  font-style: italic;
}

hr {
  margin-bottom: 1px;
}

nav {
  font-family: "Work Sans";
}

.nav-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  background-color: #1a1a1a;
  color: white;
  padding: 0.5rem 1rem;
}

.nav-links a {
}
